.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.project > iframe {
  margin-bottom: 10px;
  width: 100%;
  height: 167px;
}

.project > p {
  font-size: 15pt;
  color: white;
}

.project > p > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.project > p > a:hover {
  text-decoration: none;
  color: black;
}
