.projectSection {
  display: flex;
  flex-direction: column;
}

.projectSection__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  min-height: 534px;
}

.projectSection > h1 {
  color: #ebfffc;
  background-color: #39557b;
  padding: 5px;
}

.projectSection__content__left {
  width: 50%;
}

.projectSection__content__right {
  width: 50%;
}

@media screen and (max-width: 1135px) {
  .projectSection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-height: 534px;
  }

  .projectSection__content__left {
    width: 100%;
  }
  .projectSection__content__right {
    width: 100%;
  }
}
